.here {
  font-size: 3em;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
.margin {
  margin: 10px 10px 10px 10px;
  padding: 15px;
}
#border {
  background-color: turquoise;
  border: double 10px;
  border-radius: 30px;
}
#outline {
  background-color: turquoise;
  outline: double 10px;
  outline-offset: -15px;
  /* border: white 10px double; */
}
